<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="media">
                <div class="media-object pull-left hidden-xs">
                  <!--
                    <div class="votes-pie-wrapper" style="margin-top: 20px;">
                        <div id="bill-<%= bill.id %>-votes" class="votes-pie"></div>
                    </div>
                    <%
                        var total = parseInt(bill.upVotes) + parseInt(bill.downVotes);
                        if (total == 0) {
                    %>
                    <ul data-pie-id="bill-<%= bill.id %>-votes" class="votes hidden">
                        <li data-value="1" style="color: #eee !important;">Against</li>
                        <li data-value="1" style="color: #eee !important;">For</li>
                    </ul>
                    <%
                        } else { 
                            var percentage = Math.floor( (parseInt(bill.upVotes) / total) * 100);                                    
                            if (parseInt(bill.upVotes) == 0) {
                    %>
                    <ul data-pie-id="bill-<%= bill.id %>-votes" class="votes hidden">
                        <li data-value="999" style="color: #ca2335 !important;">Against</li>
                        <li data-value="1" style="color: #ca2335 !important;">For</li>
                    </ul>
                    <h4 class="text-center" style="color: #ca2335;">
                        100%<br/>
                        against
                    </h4>
                        <% } else if (parseInt(bill.downVotes) == 0) { %>
                    <ul data-pie-id="bill-<%= bill.id %>-votes" class="votes hidden">
                        <li data-value="1" style="color: #009461 !important;">Against</li>
                        <li data-value="999" style="color: #009461 !important;">For</li>
                    </ul>
                    <h4 class="text-center">
                        <%= percentage %>%<br/>
                        support
                    </h4>
                        <% } else if (parseInt(bill.downVotes) > parseInt(bill.upVotes)){ %>                                    
                    <ul data-pie-id="bill-<%= bill.id %>-votes" class="votes hidden">
                        <li data-value="<%= parseInt(bill.downVotes) %>" style="color: #ca2335 !important;">Against</li>
                        <li data-value="<%= parseInt(bill.upVotes) %>" style="color: #eee !important;">For</li>
                    </ul>
                    <h4 class="text-center" style="color: #ca2335;">
                        <%= 100 - percentage %>%<br/>
                        against
                    </h4>
                        <% } else { %>
                    <ul data-pie-id="bill-<%= bill.id %>-votes" class="votes hidden">
                        <li data-value="<%= parseInt(bill.downVotes) %>">Against</li>
                        <li data-value="<%= parseInt(bill.upVotes) %>">For</li>
                    </ul>
                    <h4 class="text-center">
                        <%= percentage %>%<br/>
                        support
                    </h4>
                        <% } %>
                    <% } %>
                  -->
                </div>
                <div class="media-body">
                    <h1><%= bill.name %> Bill</h1>
                    <p class="lead"><%= bill.description %></p>
                    <div class="bill-buttons clearfix">
                        <span data-identifier="<%= bill.path %>" class="likebtn-wrapper pull-left" data-style="padded" data-show_dislike_label="true" data-counter_type="percent" data-counter_clickable="true" data-popup_enabled="false" data-show_copyright="false" data-share_enabled="false" data-i18n_like="Approve" data-i18n_dislike="Disapprove" data-i18n_like_tooltip="Vote for this bill" data-i18n_dislike_tooltip="Vote against this bill"></span>
                        <div class="addthis_toolbox addthis_default_style addthis_32x32_style pull-right hidden-xs">
                            <a class="addthis_button_twitter pull-right"></a>
                            <a class="addthis_button_facebook pull-right"></a>
                        </div>
                    </div>
                </div>
            </div>
            <% if (bill.html === "") { %>
                <p class="alert alert-info" style="margin-top: 20px;">
                    <a href="<%= bill.url %>">The text of this Bill is not available. See the Parliament website for more details. <i class="fa fa-external-link"></i></a>
                </p>
            <% } else { %>
                <% if (bill.name === "Energy") { %>
                <div class="clearfix" style="margin-top: 20px;">
                    <h2 class="pull-left" style="font-weight: 400; margin: 10px 0;">The Bill</h2>
                </div>
                <p>
                    Due to formatting errors with the current draft of this Bill, it is best viewed in a new window.
                <p>
                <p>
                    <a class="btn btn-default" href="/bills<%= bill.path %>.html">View this Bill <i class="fa fa-external-link"></i></a>
                </p>
                <% } else { %>
                <div class="clearfix" style="margin-top: 20px;">
                    <h2 class="pull-left" style="font-weight: 400; margin: 10px 0;">The Bill</h2>
                    <a class="pull-right" style="padding: 10px 0;" href="#comments">Skip to comments <i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="bill-text">
                    <%- bill.html %>
                </div>
                <% } %>
            <% } %>
            <hr/>
            <h2 id="comments"><i class="fa fa-comments"></i> Comment on this Bill</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'publicscrutinyoffice';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
        <div class="col-sm-3">
            <p style="margin-top: 30px;">
                <a class="btn btn-default btn-block" href="<%= bill.url %>">View on parliament.uk <i class="fa fa-external-link"></i></a>
            </p>
            <p style="margin-top: 20px;">
               <h3 class="label label-info"><%= bill.type %></h3>
            </p>
            <% if (bill.sponsors.length > 0) { %>
            <h2 style="margin-bottom: 10px;">Sponsored by</h2>
            <% } %>
            <% bill.sponsors.forEach(function(member) { %>
                <div class="clearfix">
                <% if (member.type) { %>                
                    <h4 class="member" data-party="<%= member.party %>">
                        <a href="/members<%= member.path %>" class="unstyled">
                            <img alt="Photograph of <%= member.name %>" 
                                 class="member-image"
                                 data-party="<%= member.party %>"
                                <% if (member.image) { %>
                                 src="<%= member.image %>"
                                <% } else { %>
                                src="/img/person.png"
                                <% } %>
                                 height="48px"
                            />
                            <span class="name"><%= member.name %></span><br/>
                            <% if (member.type == "MP") { %>
                            <small><%= member.constituency %> MP</small>
                            <% } else if (member.type == "Peer") { %>
                            <small><%= member.party %> Peer</small>
                            <% } %>
                        </a>
                    </h4>
                <% } else { %>
                    <h4>
                        <span class="fa-stack">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-user fa-stack-1x"></i>
                        </span>
                      <%= member.name %>
                    </h4>
                <% } %>
                </div>
            <% }); %>
            <h2>Documents</h2>
            
            <h3>Revision history</h3>
            <% if (bill.documents.versions.length > 0) { %>
            <ul class="fa-ul">
                <% for (var i=0; i<bill.documents.versions.length; i++) { %>
                <li>                
                    <p>
                        <a href="<%= bill.documents.versions[i].url %>"><i class="fa fa-li fa-file-o fa-lg"></i> <%= bill.documents.versions[i].name %></a>
                    </p>
                </li>
                <% } %>
            </ul>
            <% } else { %>
            <p class="text-muted">The text for this bill is not available.</p>
            <% } %>
            
            <h3>Notes</h3>
            <% if (bill.documents.notes.length > 0) { %>
            <ul class="fa-ul">
                <% for (var i=0; i<bill.documents.notes.length; i++) { %>
                <li>                
                    <p>
                        <a href="<%= bill.documents.notes[i].url %>"><i class="fa fa-li fa-file-o fa-lg"></i> <%= bill.documents.notes[i].name %></a>
                    </p>
                </li>
                <% } %>
            </ul>
            <% } else { %>
            <p class="text-muted">There are no notes available for this bill.</p>
            <% } %>
            
            <h3>Other documents</h3>
            <% if (bill.documents.other.length > 0) { %>
            <ul class="fa-ul">
                <% for (var i=0; i<bill.documents.other.length; i++) { %>
                <li>                
                    <p>
                        <a href="<%= bill.documents.other[i].url %>"><i class="fa fa-li fa-file-o fa-lg"></i> <%= bill.documents.other[i].name %></a>
                    </p>
                </li>
                <% } %>
            </ul>
            <% } else { %>
            <p class="text-muted">There are no other documents available for this bill.</p>
            <% } %>            
        </div>
    </div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-52a95ffd67610095" async="async"></script>
<script type="text/javascript" src="//likebtn.com/js/widget.js" async="async"></script>
<script async defer src="https://hypothes.is/embed.js"></script>