<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="addthis_toolbox addthis_default_style addthis_32x32_style pull-right hidden-xs">
                <a class="addthis_button_twitter pull-right"></a>
                <a class="addthis_button_facebook pull-right"></a>
            </div>

            <ul class="nav nav-pills clearfix" style="height: 50px;">
              <li <% if (filter == "recently-active") { %>class="active"<% } %>><a href="/bills/">View all</a></li>
              <li <% if (filter == "popular") { %>class="active"<% } %>><a href="/bills/popular">Popular</a></li>
              <li <% if (filter == "unpopular") { %>class="active"<% } %>><a href="/bills/unpopular">Unpopular</a></li>
              <li <% if (filter == "pending") { %>class="active"<% } %>><a href="/bills/pending">Pending</a></li>
            </ul>
            
            <br>
            
            <% if (filter == "recently-active") { %>
                <h1>Bills before Parliament</h1>
                <p class="lead">All Bills currently before Parliament</p>
            <% } else if (filter == "popular") { %>
                <h1>Popular Bills</h1>
                <p class="lead">Bills with the most public support</p>
            <% } else if (filter == "unpopular") { %>
                <h1>Unpopular Bills</h1>
                <p class="lead">Bills with the least public support</small>
            <% } else if (filter == "pending") { %>
                <h1>Pending Bills</h1>
                <p class="lead">New Bills that have yet to be published</p>
            <% } %>

            <ul class="list-unstyled bills">
                <% for (var i=0; i<bills.length; i++) { %>
                    <li class="clearfix" data-href="/bills<%= bills[i].path %>">
                        <div class="media">
                            <div class="media-object pull-left hidden-xs">
                              <!--
                                <div class="votes-pie-wrapper">
                                    <div id="bill-<%= bills[i].id %>-votes" class="votes-pie"></div>
                                </div>
                                <%
                                    var total = parseInt(bills[i].upVotes) + parseInt(bills[i].downVotes);
                                    if (total == 0) {
                                %>
                                <ul data-pie-id="bill-<%= bills[i].id %>-votes" class="votes hidden">
                                    <li data-value="1" style="color: #eee !important;">Against</li>
                                    <li data-value="1" style="color: #eee !important;">For</li>
                                </ul>
                                <%
                                    } else { 
                                        var percentage = Math.floor( (parseInt(bills[i].upVotes) / total) * 100);                                    
                                        if (parseInt(bills[i].upVotes) == 0) {
                                %>
                                <ul data-pie-id="bill-<%= bills[i].id %>-votes" class="votes hidden">
                                    <li data-value="999" style="color: #ca2335 !important;">Against</li>
                                    <li data-value="1" style="color: #ca2335 !important;">For</li>
                                </ul>
                                <h4 class="text-center" style="color: #ca2335;">
                                    100%<br/>
                                    against
                                </h4>
                                    <% } else if (parseInt(bills[i].downVotes) == 0) { %>
                                <ul data-pie-id="bill-<%= bills[i].id %>-votes" class="votes hidden">
                                    <li data-value="1" style="color: #009461 !important;">Against</li>
                                    <li data-value="999" style="color: #009461 !important;">For</li>
                                </ul>
                                <h4 class="text-center">
                                    <%= percentage %>%<br/>
                                    support
                                </h4>
                                    <% } else if (parseInt(bills[i].downVotes) > parseInt(bills[i].upVotes)){ %>                                    
                                <ul data-pie-id="bill-<%= bills[i].id %>-votes" class="votes hidden">
                                    <li data-value="<%= parseInt(bills[i].downVotes) %>" style="color: #ca2335 !important;">Against</li>
                                    <li data-value="<%= parseInt(bills[i].upVotes) %>" style="color: #eee !important;">For</li>
                                </ul>
                                <h4 class="text-center" style="color: #ca2335;">
                                    <%= 100 - percentage %>%<br/>
                                    against
                                </h4>
                                    <% } else { %>
                                <ul data-pie-id="bill-<%= bills[i].id %>-votes" class="votes hidden">
                                    <li data-value="<%= parseInt(bills[i].downVotes) %>">Against</li>
                                    <li data-value="<%= parseInt(bills[i].upVotes) %>">For</li>
                                </ul>
                                <h4 class="text-center">
                                    <%= percentage %>%<br/>
                                    support
                                </h4>
                                    <% } %>
                                <% } %>
                              -->
                            </div>
                            <div class="media-body">
                                <a class="unstyled" href="/bills<%= bills[i].path %>">
                                    <h3 class="bill-name"><%= bills[i].name %> Bill</h3>
                                </a>      
                                <div class="bill-inline-summary">
                                  <span class="label label-info"><%= bills[i].type %></span>
                                <% bills[i].sponsors.forEach(function(member) { %>
                                    <% if (member.type) { %>
                                        <span class="member" data-party="<%= member.party %>">
                                                <img alt="Photograph of <%= member.name %>" 
                                                     class="member-image"
                                                     data-party="<%= member.party %>"
                                                     height="32px"
                                                     <% if (member.image) { %>
                                                     src="<%= member.image %>"
                                                     <% } else { %>
                                                     src="/img/person.png"
                                                     <% } %>
                                                />
                                                <%= member.name %>
                                            </a>
                                        </span>
                                    <% } else { %>
                                        <span>
                                            <span class="fa-stack">
                                            <i class="fa fa-square-o fa-stack-2x"></i>
                                            <i class="fa fa-user fa-stack-1x"></i>
                                            </span>
                                            <%= member.name %>
                                        </span>
                                    <% } %>
                                <% }); %>
                               </div>
                               <p><a class="unstyled" href="/bills<%= bills[i].path %>"><%= bills[i].description %></a></p>
                               <div class="bill-buttons clearfix">
                                   <span data-identifier="<%= bills[i].path %>" class="likebtn-wrapper pull-left" data-style="padded" data-show_dislike_label="true" data-counter_type="percent" data-counter_clickable="true" data-popup_enabled="false" data-show_copyright="false" data-share_enabled="false" data-i18n_like="Approve" data-i18n_dislike="Disapprove" data-i18n_like_tooltip="Vote for this bill" data-i18n_dislike_tooltip="Vote against this bill"></span>
                                   <span class="pull-right">
                                       <a class="unstyle btn btn-default" href="/bills<%= bills[i].path %>">View <i class="fa fa-fw fa-chevron-right"></i></a>
                                   </span>
                               </div>
                            </div>
                        </div>
                   </li>
                <% } %>
            </ul>
        </div>
        <div class="hidden">
            <h2>Debates &amp; Readings</h2>
            
            <% var lastEvent = null;
                for (var i=0; i<events.length; i++) {
                    var date = phpjs.date('l, jS F', new Date(Date.parse(events[i].date)) );

                    // Only list discussions of Bills
                    // @todo Create method to do only fetch Events by Type (instead of using a regex)
                    if (events[i].name.match(/ Bill/) > -1)
                        continue;
                        
                    if (lastEvent != events[i].date) {
                        if (lastEvent != null) { %></ul><% }
                        
                        lastEvent = events[i].date;
            %>
            <h4 style="margin-top: 20px; margin-bottom: 20px;"><i class="material-icons pull-left">date_range</i> <%= date %></h4>
            <ul class="fa-ul">
            <%      }   %>
                <li>
                    <%  // Link to the bill the event relates to if the URL ends in .cfm
                        // (for some reason event URLs ending in .cfm URL's all 404)
                        if (/.cfm$/.test(events[i].url)) {
                        // @fixme They are not always linking to relevant bills, so skipping this for now.
                        // @todo Check out the raw event object and work out why some events are like this.
                    %>
                    <!--<p><i class="fa-li fa fa-angle-right"></i><a href="<%= events[i].bill.url %>"><%= events[i].name %></a></p>-->
                    <% } else { %>
                    <p><a href="/bills<%= events[i].bill.path %>"><%= events[i].name %></a></p>
                    <% } %>
                </li>
            <% } %>
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).on('click', 'ul.bills li', function(e){
        if ($(e.target).parents('.likebtn-wrapper').length) {
            // ignore clicks on the voting buttons
            return;
        } else if ($(e.target).parents('*[href]').length || $(e.target).attr('href')) {
            // ignore clicks on the links themselves (so people can still right click)
            return;
        } else {
            window.location = $(this).data('href');
        }
    });
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-52a95ffd67610095" async="async"></script>
<script type="text/javascript" src="//likebtn.com/js/widget.js" async="async"></script>