<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <h1><%= bill.name %> Bill</h1>
            <p style="margin-top: 20px;" class="lead"><%= bill.description %></p>
            <p>
                <!-- LikeBtn.com BEGIN -->
                <span data-identifier="<%= bill.path %>" class="likebtn-wrapper" data-style="padded" data-show_dislike_label="true" data-counter_type="percent" data-counter_clickable="true" data-popup_enabled="false" data-show_copyright="false" data-share_enabled="false" data-i18n_like="Yes" data-i18n_dislike="No" data-i18n_like_tooltip="Vote for this bill" data-i18n_dislike_tooltip="Vote against this bill"></span>
                <script type="text/javascript" src="//likebtn.com/js/widget.js" async="async"></script>
                <!-- LikeBtn.com END -->
            </p>
            <h1>The Bill</h1>
            <script>
              function resizeIframe(obj) {
                obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
              }
            </script>        
            <iframe name="bill-text" src="/bills<%= bill.path %>/text" frameborder="0" scrolling="no" id="bill-text" style="width: 100%; border: none;" onload="javascript:resizeIframe(this);"></iframe>            
            <hr/>
            <h2>Comments</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'publicscrutinyoffice';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
        <div class="col-sm-3">
            <p style="margin-top: 30px;">
                <a class="btn btn-default btn-block" href="<%= bill.url %>"><i class="fa fa-link"></i> View on parliament.uk</a>
            </p>
            <p style="margin-top: 20px;">
               <h3 class="label label-info"><%= bill.type %></h3>
            </p>
            <% if (bill.sponsors.length > 0) { %>
            <h2 style="margin-bottom: 20px;">Sponsored by</h2>
            <% } %>
            <% for (var i=0; i<bill.sponsors.length; i++) { %>
            <h4>
                <span class="fa-stack">
                <i class="fa fa-user fa-stack-1x"></i>
                <i class="fa fa-square-o fa-stack-2x"></i>
                </span>
              <%= bill.sponsors[i] %>
            </h4>
            <% } %>
            <h2>Documents</h2>
            <p class="text-muted">
                Note: Documents link back to pages hosted on parliament.uk
            </p>
            <h3>Version history</h3>
            <% for (var i=0; i<bill.documents.versions.length; i++) { %>
            <p>                
                <a href="<%= bill.documents.versions[i].url %>"><i class="fa fa-file-o fa-lg"></i> <%= bill.documents.versions[i].name %></a>
            </p>
            <% } %>
            <% if (bill.documents.versions.length == 0) { %>
            <p class="text-muted">The text for this bill is not yet available.</p>
            <% } %>
            <h3>Notes</h3>
            <% for (var i=0; i<bill.documents.notes.length; i++) { %>
            <p>
                <a href="<%= bill.documents.notes[i].url %>"><i class="fa fa-file-o fa-lg"></i> <%= bill.documents.notes[i].name %></a>
            </p>
            <% } %>
            <% if (bill.documents.notes.length == 0) { %>
            <p class="text-muted">There are no notes available for this bill.</p>
            <% } %>
            <h3>Other documents</h3>
            <% for (var i=0; i<bill.documents.other.length; i++) { %>
            <p>
                <a href="<%= bill.documents.other[i].url %>"><i class="fa fa-file-o fa-lg"></i> <%= bill.documents.other[i].name %></a>
            </p>
            <% } %>
            <% if (bill.documents.other.length == 0) { %>
            <p class="text-muted">There are no other documents available for this bill.</p>
            <% } %>
        </div>
    </div>
</div>