<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title><%= title %></title>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    </head>
    <body>
        <script>
            // If the frame of the top domain is the same (or fails because it
            // it can't be acessed due to XSS prevention, which is what happens
            // in practice) then we bust out of the frame.
            try {
              if (top.document.domain != self.document.domain)
                  top.location.href = self.location.href;
            } catch(e) {
            
               top.location.href = self.location.href;
            }

            // If we are not in a frame, then redirect to parent page, which
            // does display the content in a frame.
            //
            // NB: Content is only displayed in a frame because the raw HTML is
            // often malformed in such a way that HTML parsers are unable to fix.
            if (top.frames.length == 0)
                window.location.href = '/bills<%= bill.path %>';
        </script>
        <div class="hidden">
            <h1><%= bill.name %> Bill</h1>
            <p class="lead"><%= bill.description %></p>
        </div>
        <div class="bill-text">
            <%- bill.html %>
        </div>
    </body>
</html>