<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1><%= bill.name %></h1>
            <p>
            <% for (var j=0; j<bill.sponsors.length; j++) { %>
                <span class="fa-stack">
                <i class="fa fa-user fa-stack-1x"></i>
                <i class="fa fa-circle-o fa-stack-2x"></i>
                </span>
              <%= bill.sponsors[j] %></span>
            <% } %>            
            </p>
            <p>
               <span class="label label-info"><%= bill.type %></span>
            </p>
            <p class="lead"><%= bill.description %></p>
            <h1>The Bill</h1>
            <hr/>
            <div class="bill-text">
                <%- bill.html %>
            </div>
            <hr/>
            <h2>Comments</h2>
            <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'parliament-hack-2013';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
        </div>
        <div class=""></div>
    </div>
</div>