<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="media">
                <div class="media-object pull-left hidden-xs">
                    <div class="votes-pie-wrapper" style="margin-top: 20px;">
                        <div id="bill-<%= bill.id %>-votes" class="votes-pie"></div>
                    </div>
                    <%
                        var total = parseInt(bill.upVotes) + parseInt(bill.downVotes);
                        if (total == 0) {
                    %>
                    <ul data-pie-id="bill-<%= bill.id %>-votes" class="votes hidden">
                        <li data-value="1" style="color: #eee !important;">Against</li>
                        <li data-value="1" style="color: #eee !important;">For</li>
                    </ul>
                    <h4 class="text-center text-muted">
                        No votes<br/>
                        cast
                    </h4>
                    <%
                        } else { 
                            var percentage = Math.floor( (parseInt(bill.upVotes) / total) * 100);                                    
                            if (parseInt(bill.upVotes) == 0) {
                    %>
                    <ul data-pie-id="bill-<%= bill.id %>-votes" class="votes hidden">
                        <li data-value="999" style="color: #ca2335 !important;">Against</li>
                        <li data-value="1" style="color: #ca2335 !important;">For</li>
                    </ul>
                    <h4 class="text-center">
                        100%<br/>
                        against
                    </h4>
                        <% } else if (parseInt(bill.downVotes) == 0) { %>
                    <ul data-pie-id="bill-<%= bill.id %>-votes" class="votes hidden">
                        <li data-value="1" style="color: #009461 !important;">Against</li>
                        <li data-value="999" style="color: #009461 !important;">For</li>
                    </ul>
                    <h4 class="text-center">
                        <%= percentage %>%<br/>
                        support
                    </h4>
                        <% } else if (parseInt(bill.downVotes) > parseInt(bill.upVotes)){ %>                                    
                    <ul data-pie-id="bill-<%= bill.id %>-votes" class="votes hidden">
                        <li data-value="<%= parseInt(bill.downVotes) %>" style="color: #ca2335 !important;">Against</li>
                        <li data-value="<%= parseInt(bill.upVotes) %>" style="color: #eee !important;">For</li>
                    </ul>
                    <h4 class="text-center">
                        <%= 100 - percentage %>%<br/>
                        against
                    </h4>
                        <% } else { %>
                    <ul data-pie-id="bill-<%= bill.id %>-votes" class="votes hidden">
                        <li data-value="<%= parseInt(bill.downVotes) %>">Against</li>
                        <li data-value="<%= parseInt(bill.upVotes) %>">For</li>
                    </ul>
                    <h4 class="text-center">
                        <%= percentage %>%<br/>
                        support
                    </h4>
                        <% } %>
                    <% } %>
                </div>
                <div class="media-body">
                    <h1><%= bill.name %> Bill</h1>
                    <p class="lead"><%= bill.description %></p>
                    <p>
                        <!-- LikeBtn.com BEGIN -->
                        <span data-identifier="<%= bill.path %>" class="likebtn-wrapper" data-style="padded" data-show_dislike_label="true" data-counter_type="percent" data-counter_clickable="true" data-popup_enabled="false" data-show_copyright="false" data-share_enabled="false" data-i18n_like="Approve" data-i18n_dislike="Disapprove" data-i18n_like_tooltip="Vote for this bill" data-i18n_dislike_tooltip="Vote against this bill"></span>
                        <script type="text/javascript" src="//likebtn.com/js/widget.js" async="async"></script>
                        <!-- LikeBtn.com END -->
                    </p>
                </div>
            </div>
            <h2 style="font-weight: 400;">The Bill</h2>
            <script>
                $(function() {
                    Pizza.init(document.body, {
                        "show_percent": false,
                        "donut": true
                    });
                });
            </script>        
            <div class="bill-text">
                <%- bill.html %>
            </div>
            <hr/>
            <h2>Comments</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'publicscrutinyoffice';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
        <div class="col-sm-3">
            <p style="margin-top: 30px;">
                <a class="btn btn-default btn-block" href="<%= bill.url %>"><i class="fa fa-link"></i> View on parliament.uk</a>
            </p>
            <p style="margin-top: 20px;">
               <h3 class="label label-info"><%= bill.type %></h3>
            </p>
            <% if (bill.sponsors.length > 0) { %>
            <h2 style="margin-bottom: 20px;">Sponsored by</h2>
            <% } %>
            <% bill.sponsors.forEach(function(sponsor) { %>
                <% if (sponsor.house) { %>
                    <h4 class="member" data-party="<%= sponsor.party %>">
                        <span class="fa-stack">
                        <i class="fa fa-user fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        </span>
                      <%= sponsor.name %>
                    </h4>
                <% } else { %>
                    <h4>
                        <span class="fa-stack">
                        <i class="fa fa-user fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        </span>
                      <%= sponsor.name %>
                    </h4>
                <% } %>
            <% }); %>
            <h2>Documents</h2>
            <p class="text-muted">
                Note: Documents link back to pages hosted on parliament.uk
            </p>
            <h3>Version history</h3>
            <% for (var i=0; i<bill.documents.versions.length; i++) { %>
            <p>                
                <a href="<%= bill.documents.versions[i].url %>"><i class="fa fa-file-o fa-lg"></i> <%= bill.documents.versions[i].name %></a>
            </p>
            <% } %>
            <% if (bill.documents.versions.length == 0) { %>
            <p class="text-muted">The text for this bill is not yet available.</p>
            <% } %>
            <h3>Notes</h3>
            <% for (var i=0; i<bill.documents.notes.length; i++) { %>
            <p>
                <a href="<%= bill.documents.notes[i].url %>"><i class="fa fa-file-o fa-lg"></i> <%= bill.documents.notes[i].name %></a>
            </p>
            <% } %>
            <% if (bill.documents.notes.length == 0) { %>
            <p class="text-muted">There are no notes available for this bill.</p>
            <% } %>
            <h3>Other documents</h3>
            <% for (var i=0; i<bill.documents.other.length; i++) { %>
            <p>
                <a href="<%= bill.documents.other[i].url %>"><i class="fa fa-file-o fa-lg"></i> <%= bill.documents.other[i].name %></a>
            </p>
            <% } %>
            <% if (bill.documents.other.length == 0) { %>
            <p class="text-muted">There are no other documents available for this bill.</p>
            <% } %>
        </div>
    </div>
</div>