<h1>
    <div class="row">
        <div class="col-xs-4 col-sm-2">
            <span class="fa-stack fa-lg pull-right">
              <i class="fa fa-sun-o fa-stack-2x"></i>
              <i class="fa fa-bullhorn fa-stack-1x"></i>
            </span>
        </div>
        <div class="col-xs-8 col-sm-10" style="padding-top: 10px;">
            Public Scrutiny Office
            <br>
            <small>What's going on in Parliament</small>
        </div>
    </div>
</h1>
<hr/>
<div class="row">
    <div class="col-sm-8">
        <ul class="list-unstyled">
        <% for(var i=0; i<bills.length; i++) { %>
           <li>
               <h3><%= bills[i].name %></h3>
               <p><%= bills[i].description %></p>
           </li>
        <% } %>
        </ul>
    </div>
    <div class="col-sm-4">
        <h2>Upcoming events</h2>
        <ul class="list-unstyled">
        <%
            for(var i=0; i<events.length; i++) {
         %>
           <li>
               <h4><i class="fa fa-calendar"></i> <%= events[i].date %></h4>
               <a href="<%= events[i].url %>"><%= events[i].name %></a>
           </li>
        <% } %>
        </ul>
    </div>
</div>