<div class="container-fluid" style="position: relative; top: -20px;">
    <div class="heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>
                        <span class="fa-stack fa-lg pull-left logo hidden-xs">
                            <i class="fa fa-bullhorn fa-stack-1x"></i>
                            <i class="fa fa-sun-o fa-stack-2x"></i>
                        </span>
                        <span class="pull-left" style="display: inline-block;">
                            Public Scrutiny Office
                            <br/>
                            <small>Review and comment on draft legislation</small>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#">Bills before Parliament</a></li>
            </ul>
            <ul class="list-unstyled bills">
                <% for (var i=0; i<bills.length; i++) { %>
                    <li class="clearfix" data-href="/bills<%= bills[i].path %>">
                        <div class="media">
                            <div class="media-object pull-left hidden-xs">
                                <div class="votes-pie-wrapper">
                                    <div id="bill-<%= bills[i].id %>-votes" class="votes-pie"></div>
                                </div>
                                <%
                                    var total = parseInt(bills[i].upVotes) + parseInt(bills[i].downVotes);
                                    if (total == 0) {
                                %>
                                <ul data-pie-id="bill-<%= bills[i].id %>-votes" class="votes hidden">
                                    <li data-value="1" style="color: #eee !important;">Against</li>
                                    <li data-value="1" style="color: #eee !important;">For</li>
                                </ul>
                                <h4 class="text-center text-muted">
                                    No votes<br/>
                                    cast
                                </h4>
                                <%
                                    } else { 
                                        var percentage = Math.floor( (parseInt(bills[i].upVotes) / total) * 100);                                    
                                        if (parseInt(bills[i].upVotes) == 0) {
                                %>
                                <ul data-pie-id="bill-<%= bills[i].id %>-votes" class="votes hidden">
                                    <li data-value="999" style="color: #ca2335 !important;">Against</li>
                                    <li data-value="1" style="color: #ca2335 !important;">For</li>
                                </ul>
                                <h4 class="text-center">
                                    100%<br/>
                                    against
                                </h4>
                                    <% } else if (parseInt(bills[i].downVotes) == 0) { %>
                                <ul data-pie-id="bill-<%= bills[i].id %>-votes" class="votes hidden">
                                    <li data-value="1" style="color: #009461 !important;">Against</li>
                                    <li data-value="999" style="color: #009461 !important;">For</li>
                                </ul>
                                <h4 class="text-center">
                                    <%= percentage %>%<br/>
                                    support
                                </h4>
                                    <% } else if (parseInt(bills[i].downVotes) > parseInt(bills[i].upVotes)){ %>                                    
                                <ul data-pie-id="bill-<%= bills[i].id %>-votes" class="votes hidden">
                                    <li data-value="<%= parseInt(bills[i].downVotes) %>" style="color: #ca2335 !important;">Against</li>
                                    <li data-value="<%= parseInt(bills[i].upVotes) %>" style="color: #eee !important;">For</li>
                                </ul>
                                <h4 class="text-center">
                                    <%= 100 - percentage %>%<br/>
                                    against
                                </h4>
                                    <% } else { %>
                                <ul data-pie-id="bill-<%= bills[i].id %>-votes" class="votes hidden">
                                    <li data-value="<%= parseInt(bills[i].downVotes) %>">Against</li>
                                    <li data-value="<%= parseInt(bills[i].upVotes) %>">For</li>
                                </ul>
                                <h4 class="text-center">
                                    <%= percentage %>%<br/>
                                    support
                                </h4>
                                    <% } %>
                                <% } %>
                            </div>
                            <div class="media-body">
                                <a class="unstyled" href="/bills<%= bills[i].path %>">
                                    <h3><i class="fa fa-file-text-o"></i> <%= bills[i].name %> Bill</h3>
                                </a>      
                                <p>
                                <span class="label label-info"><%= bills[i].type %></span>
                                <% for (var j=0; j<bills[i].sponsors.length; j++) { %>
                                    <span class="fa-stack">
                                    <i class="fa fa-user fa-stack-1x"></i>
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    </span>
                                  <%= bills[i].sponsors[j] %></span>
                               <% } %>
                               </p>
                               <p><a class="unstyled" href="/bills<%= bills[i].path %>"><%= bills[i].description %></a></p>
                               <p>
                                   <span class="pull-right">
                                       <i class="fa fa-comment fa-flip-horizontal fa-lg"></i>
                                       <a class="unstyled" href="/bills<%= bills[i].path %>#disqus_thread">0 Comments</a>
                                   </span>
                               </p>
                                <!-- LikeBtn.com BEGIN -->
                                <span data-identifier="<%= bills[i].path %>" class="likebtn-wrapper" data-style="padded" data-show_dislike_label="true" data-counter_type="percent" data-counter_clickable="true" data-popup_enabled="false" data-show_copyright="false" data-share_enabled="false" data-i18n_like="Approve" data-i18n_dislike="Disapprove" data-i18n_like_tooltip="Vote for this bill" data-i18n_dislike_tooltip="Vote against this bill"></span>
                                <script type="text/javascript" src="//likebtn.com/js/widget.js" async="async"></script>
                                <!-- LikeBtn.com END -->
                            </div>
                        </div>
                   </li>
                <% } %>
            </ul>
        </div>
        <div class="col-sm-4">
            <h2>Upcoming debates</h2>
            <% var lastEvent = null;
                for (var i=0; i<events.length; i++) {
                    var date = phpjs.date('l, jS F', new Date(Date.parse(events[i].date)) );

                    if (lastEvent != events[i].date) {
                    
                        if (lastEvent != null) { %></ul><% }
                        
                        lastEvent = events[i].date;
            %>
            <h4 style="margin-top: 20px;"><i class="fa fa-calendar"></i> <%= date %></h4>
            <ul class="fa-ul">
            <%      }   %>
                <li>
                    <%  // Link to the bill the event relates to if the URL ends in .cfm
                        // (for some reason event URLs ending in .cfm URL's all 404)
                        if (/.cfm$/.test(events[i].url)) {
                        // @fixme They are not always linking to relevant bills, so skipping this for now.
                        // @todo Check out the raw event object and work out why some events are like this.
                    %>
                    <!--<p><i class="fa-li fa fa-angle-right"></i><a href="<%= events[i].bill.url %>"><%= events[i].name %></a></p>-->
                    <% } else { %>
                    <p><i class="fa-li fa fa-angle-right"></i><a href="<%= events[i].url %>"><%= events[i].name %></a></p>
                    <% } %>
                </li>
            <% } %>
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).on('click touch', 'ul.bills li', function(e){
        if ($(e.target).parents('.likebtn-wrapper').length) {
            // ignore clicks on the voting buttons
            return;
        } else if ($(e.target).parents('*[href]').length || $(e.target).attr('href')) {
            // ignore clicks on the links themselves (so people can still right click)
            return;
        } else {
            window.location = $(this).data('href');
        }
    });

    $(function() {
        Pizza.init(document.body, {
            "show_percent": false,
            "donut": true
        });
    });
    
    var disqus_shortname = 'publicscrutinyoffice';
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>