<div class="container-fluid" style="position: relative; top: -20px;">
    <div class="heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>
                        <span class="fa-stack fa-lg pull-left logo hidden-xs">
                            <i class="fa fa-user fa-stack-1x"></i>
                            <i class="fa fa-sun-o fa-stack-2x"></i>
                        </span>
                        <span class="pull-left" style="display: inline-block;">
                            Public Scrutiny Office
                            <br/>
                            <small>What's going on in Parliament</small>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#">Bills before Parliament</a></li>
            </ul>
            <ul class="list-unstyled bills">
            <% for (var i=0; i<bills.length; i++) { %>
               <li class="clearfix" data-href="/bills<%= bills[i].path %>">
                   <a class="styled-link" href="/bills<%= bills[i].path %>">
                       <h3><i class="fa fa-file-text-o"></i> <%= bills[i].name %> Bill</h3>
                   </a>
                   <p>
                   <% for (var j=0; j<bills[i].sponsors.length; j++) { %>
                        <span class="fa-stack">
                        <i class="fa fa-user fa-stack-1x"></i>
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        </span>
                      <%= bills[i].sponsors[j] %></span>
                   <% } %>
                   </p>
                   <p><a class="styled-link" href="/bills<%= bills[i].path %>"><%= bills[i].description %></a></p>
                   <p>
                       <span class="label label-info"><%= bills[i].type %></span>
                   </p>
               </li>
            <% } %>
            </ul>
        </div>
        <div class="col-sm-4">
            <h2>What's going on</h2>
            <p class="text-muted">
                Discussions related to bills before Parliament.
            </p>
            <% var lastEvent = null;
                for (var i=0; i<events.length; i++) {
                    var date = phpjs.date('l, jS F', new Date(Date.parse(events[i].date)) );

                    if (lastEvent != events[i].date) {
                    
                        if (lastEvent != null) { %></ul><% }
                        
                        lastEvent = events[i].date;
            %>
            <h4><i class="fa fa-calendar"></i> <%= date %></h4>
            <ul class="fa-ul">
            <%      }   %>
                <li>
                    <%  // Link to the bill the event relates to if the URL ends in .cfm
                        // (for some reason event URLs ending in .cfm URL's all 404)
                        if (/.cfm$/.test(events[i].url)) {
                        // @fixme They are not always linking to relevant bills, so skipping this for now.
                        // @todo Check out the raw event object and work out why some events are like this.
                    %>
                    <!--<p><i class="fa-li fa fa-angle-right"></i><a href="<%= events[i].bill.url %>"><%= events[i].name %></a></p>-->
                    <% } else { %>
                    <p><i class="fa-li fa fa-angle-right"></i><a href="<%= events[i].url %>"><%= events[i].name %></a></p>
                    <% } %>
                </li>
            <% } %>
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).on('click touch', 'ul.bills li', function(e){
        window.location = $(this).data('href');
    });
</script>