<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Members of Parliament</h1>
            <p class="lead">
                Members of Parliament who have sponsored bills.
            <p>
            <h2>MPs in the House of Commons</h2>
            <div class="row clearfix">
                <% mps.forEach(function(member) { %>
                    <h4 class="member col-sm-6 col-md-4" data-party="<%= member.party %>" xstyle="width: 33%; display: inline-block;">
                        <a href="/members<%= member.path %>" class="unstyled">
                            <span class="fa-stack pull-left">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-user fa-stack-1x"></i>
                            </span>
                          <%= member.name %><br/>
                          <small><%= member.constituency %> MP</small>
                      </a>
                    </h4>
                <% }); %>
            </div>
            <h2>Peers in the House of Lords</h2>
            <div class="row clearfix">
                <% peers.forEach(function(member) { %>
                    <h4 class="member col-sm-6 col-md-4" data-party="<%= member.party %>" xstyle="width: 33%; display: inline-block;">
                        <a href="/members<%= member.path %>" class="unstyled">
                            <span class="fa-stack pull-left">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-user fa-stack-1x"></i>
                            </span>
                            <%= member.name %><br/>
                            <small><%= member.party %> Peer</small>
                        </a>
                    </h4>
                <% }); %>
            </div>
        </div>
    </div>
</div>