<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="media">
                <img alt="Photograph of <%= member.name %>" 
                     class="pull-left member-image"
                     data-party="<%= member.party %>"
                    <% if (member.image) { %>
                     src="<%= member.image %>"
                    <% } else { %>
                    src="/img/person.png"
                    <% } %>
                  />
                <div class="media-body">
                    <h1><%= member.name %></h1>
                    <p class="lead">
                    <% if (member.type) { %>
                        <% if (member.type === "MP") {%>
                        <%= member.party %> MP for <%= member.constituency %>
                        <% } else if (member.type === "Peer") { %>
                        <%= member.party %> Peer
                        <% } %>
                    <% } %>
                    </p>
                </div>
            </div>
            <h2>Bills</h2>
            <% if (bills.length > 0) {%>
            <ol class="fa-ul">
                <% bills.forEach(function(bill) { %>
                <li>
                    <h4>
                        <a href="/bills<%= bill.path %>"><i class="fa fa-file-text-o"></i> <%= bill.name %> Bill</a>
                    </h4>
                    <span class="text-muted">Last updated on <%= bill.lastUpdated %></span>
                </li>
                <% }); %>
            </ol>
            <% } %>
            <h2><i class="fa fa-bullhorn"></i> Leave feedback for <%= member.name %></h2>
            <p class="text-muted">
                Please note all feedback is publically visible.
                Inappropriate comments will be removed.
            <p>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'publicscrutinyoffice';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>
</div>