<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Members of Parliament</h1>
            <p class="lead">
                Members of Parliament and Peers in the House of Lords who have sponsored Bills.
            <p>
            <h2>MPs in the House of Commons</h2>
            <div class="row clearfix">
                <% mps.forEach(function(member) { %>
                    <h4 class="member col-sm-6 col-md-4" data-party="<%= member.party %>">
                        <a href="/members<%= member.path %>" class="unstyled">
                            <img alt="Photograph of <%= member.name %>" 
                                 class="pull-left member-image"
                                 data-party="<%= member.party %>"
                                 height="48"
                                 <% if (member.image) { %>
                                     src="<%= member.image %>"
                                 <% } else { %>
                                     src="/img/person.png"
                                <% } %>
                            />
                            <%= member.name %><br/>
                            <small><%= member.constituency %> MP</small>
                      </a>
                    </h4>
                <% }); %>
            </div>
            <h2>Peers in the House of Lords</h2>
            <div class="row clearfix">
                <% peers.forEach(function(member) { %>
                    <h4 class="member col-sm-6 col-md-4" data-party="<%= member.party %>">
                        <a href="/members<%= member.path %>" class="unstyled">
                            <img alt="Photograph of <%= member.name %>" 
                                 class="pull-left member-image"
                                 data-party="<%= member.party %>"
                                 height="48"
                                 <% if (member.image) { %>
                                     src="<%= member.image %>"
                                 <% } else { %>
                                     src="/img/person.png"
                                <% } %>
                            />
                            <%= member.name %><br/>
                            <small><%= member.party %> Peer</small>
                        </a>
                    </h4>
                <% }); %>
            </div>
        </div>
    </div>
</div>